<header>
	<button @onclick="PoritosSaltan"><img id="logo" src="./Recursos/imagenes/logo.png"></button>
	<div class="navbar">
		<input type="checkbox" id="navbar-toggle" class="navbar-toggle">
		<label for="navbar-toggle" class="navbar-toggle-icon"></label>
		<div class="navbar-menu">
			<ul class="ulHeader">
				<li><NavLink class="linkHeader" href=""><img id="casita" src="./Recursos/imagenes/CasaBlanca.png"></NavLink></li>
				<li><NavLink class="linkHeader" href="campeones">CAMPEONES</NavLink></li>
				<li><NavLink class="linkHeader" href="ranking">RANKING</NavLink></li>
				<li><NavLink class="linkHeader" href="consultor">CONSULTOR</NavLink></li>
			</ul>
		</div>
	</div>
	@if (saltar)
	{
		Random random = new Random();

		<div class="poroContainer">
			<img src="./Recursos/poros/@poritos[random.Next(0,16)]" class="poro">
		</div>
	}
</header>



