@page "/"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<PageTitle>PoroConsultor</PageTitle>

<img id="logoPrincipal" src="./Recursos/imagenes/logo.png" />
<div class="contenedorDeTodo">
    <div id="alerta">
                                BIENVENIDOS!!!!!!!<br />
        Esta página web contiene elementos musicales.
        <button id="alertaBoton" @onclick="CerrarAlerta">X</button>
    </div>
    <video class="video" autoplay loop >
        <source src="@video" type="video/mp4" />
	</video>
    <button id="botonDeSonido" @onclick="QuitarSonido">
        @if (!audio)
        {
            <img class="imagenSonido" src="./Recursos/imagenes/on.png" />
        }
        else
        {
            <img class="imagenSonido" src="./Recursos/imagenes/mute.png" />
        }

    </button>
    <div class="contenedorTexto">
        <div class="texto imagen">
		    Nuestra finalidad es brindar una información detallada sobre los campeones de League of Legends y poder consultar cual se adapta mejor
		    a tu modo de juego, compara cuál es mejor según las características que especifíques y un ranking actualizable.
	    </div>
    </div>
    <button class="contenedor" @onclick="Redirigir1">
        <img class="imagen" src="./Recursos/imagenes/Img1.png" />
        </button>
    <button class="contenedor" @onclick="Redirigir2">
        <img class="imagen" src="./Recursos/imagenes/Img2.png" />
    </button>
    <button class="contenedor" @onclick="Redirigir3">
        <img class="imagen" src="./Recursos/imagenes/Img3.png" />
    </button>
    <div class="contenedorTexto">
        <div class="texto imagen">
            Los datos han sido obtenidos de la página oficial de <a href="https://www.leagueoflegends.com/es-es/">League of Legends</a> y de <a href="https://leagueoflegends.fandom.com/wiki/List_of_champions/Base_statistics">LeagueofLegends.Fandom</a>.
        </div>
    </div>
</div>

@if (easterEgg)
{
    @foreach (var poro in poritos)
    {
        Random random = new Random();
        <img class="poro" style="top:@(random.Next(10,100))%; left:@(random.Next(5,95))%;" src="/Recursos/poros/@poro" @onmouseover="QuitarPoro" />
    }
}


 
