<hr />
<div class="pie">
    <span class="grid">
        <a href="https://github.com/Veronicatorogomez" target="_blank">
            <img class="footImagen" src="./Recursos/imagenes/github.png">
            Verónica
        </a>
        <a href="https://github.com/OliverWalters" target="_blank">
            <img class="footImagen" src="./Recursos/imagenes/github.png">
            Oliver
        </a>
    </span>
	
</div>
@code {

}
