
a {
    font-size: 20px;
    margin: 20px 50px 0 0 !important;
    padding-bottom: 20px;
    text-align: center;
    font-size: large;
    color: white;
    padding: 10px;
}

.footImagen {
    width: auto;
    height: 60px;
    margin: auto;
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
}

.pie {
    margin-top: 0;
    text-align: center;
    background-color: rgb(30,30,30);
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    height:120px;
    text-align: center;
}
