header { 
    background-color: rgb(30, 30, 30); 
    border-bottom: solid 3px #D4AF37; 
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 999999;
}

.ulHeader { /*es el contenedor de la lista*/
    display: inline-block;
    margin: 20px 60px 25px 60px;
    padding: 0;
    list-style: none;
}

    .ulHeader li { /*cada elemento de la lista*/
        display: inline-block;
        margin-right: 15px;
        align-content: center;
        margin: 10px;
        font-size: large;
        color: white;
        cursor: pointer;
    }

        .ulHeader li:hover { /*subrayado cuando te pones encima*/
            text-decoration: underline;
        }

        .ulHeader li:first-child { /*cambia el css de la casita porque sino cambia el tamaño de la barra y lo descuadra*/
            position: relative;
            top: 10px;
            padding: 0;
        }

#logo { /*img del logo*/
    position: absolute;
    top: 8px;
    left: 30px;
    height: 90px;
    z-index: 9999999;
}

#casita { /*imagen de la casita*/
   position:relative;
   top:-13px;
   left:-10px;
   width: 35px;
}

header div { 
    text-align: center;
}

.navbar-toggle {
    display: none;
}

.navbar-menu {
    margin: auto;
    position:relative;
    top:-30px;
}
.navbar {
    margin-left:80px;
}

/*-------------MENU HAMBURGUESA---------------*/
@media (max-width: 950px) {
    .navbar { /*icono general*/
        position: absolute;
        top: 25px;
        /*left: 160px;*/
        right: 60px;
    }

    .navbar-toggle { /*el checkbox*/
        display: none;
    }

    .navbar-toggle-icon { /*icono*/
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
        background-color: rgba(128, 255, 0, 0);
    }

        .navbar-toggle-icon::before,
        .navbar-toggle-icon::after { /*forma general del icono*/
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            background-color: #D4AF37; /*CAMBIAR COLOR*/
            position: absolute;
            left: 0;
            transition: transform 0.3s ease;
        }

        .navbar-toggle-icon::before { /*forma especifica icono*/
            top: 6px;
            margin-top: 1px;
        }

        .navbar-toggle-icon::after {
            top: 12px;
            margin-top: 6px;
        }

    .navbar-menu { /*menu*/
        position: fixed;
        top: 71px;
        left: 0;
        background-color: #0000009e;
        width: 100%;
        padding: 10px;
        display: none;
        margin-top: 27px;
        border-bottom: solid 3px #D4AF37; /*CAMBIAR COLOR*/
    }

        .navbar-menu ul { /*la lista del menu*/
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .navbar-menu ul li { /*cada item de la lista*/
                margin-bottom: 10px;
            }

    .navbar-toggle:checked + .navbar-toggle-icon::before { /*forma icono al pinchar y checkbox marcado*/
        transform: rotate(45deg);
        top: 12px;
    }

    .navbar-toggle:checked + .navbar-toggle-icon::after {
        transform: rotate(-45deg);
        top: 8px;
    }

    .navbar-toggle:checked ~ .navbar-menu {
        display: block;
    }
}



.poro {
    position: absolute;
    top: 37px;
    left: 70px;
    width: 50px;
    height: 50px;
    z-index: 9999998; /*1- que el logo*/
    animation: poroAnimation 10s;
}

@keyframes poroAnimation {
    0% {
        top: 37px;
        left: 70px;
    }

    5% {
        top: 50px;
    }

    10% {
        top: 40px;
    }

    15% {
        top: 50px;
    }

    20% {
        top: 40px;
    }

    25% {
        top: 50px;
    }

    30% {
        top: 40px;
    }

    35% {
        top: 50px;
    }

    40% {
        top: 40px;
    }

    45% {
        top: 50px;
    }

    51% {
        top: 35px;
    }

    57% {
        top: 50px;
    }
    64% {
        top: 35px;
    }

    71% {
        top: 50px;
        left: 90%;
    }

    75% {
        top: 0px;
        left: 92%;
        transform: rotate(0deg);
    }

    100% {
        left: 95%;
        top: 900%;
        transform: rotate(360deg);
    }
}

button{
    all:unset;
}