<header>
            <NavLink href=""><img id="logo" src="/Recursos/imagenes/logo.png"></NavLink>
            <div class="navbar">
                <input type="checkbox" id="navbar-toggle" class="navbar-toggle">
                <label for="navbar-toggle" class="navbar-toggle-icon"></label>
                <div class="navbar-menu">
                  <ul class="ulHeader">
                    <li><NavLink class="linkHeader" href=""><img id="casita" src="/Recursos/imagenes/CasaBlanca.png"></NavLink></li>
                    <li><NavLink class="linkHeader" href="campeones">CAMPEONES</NavLink></li>
                    <li><NavLink class="linkHeader" href="ranking">RANKING</NavLink></li>
                    <li><NavLink class="linkHeader" href="consultor">CONSULTOR</NavLink></li>
                    <li><NavLink class="linkHeader" href="administrador">ADMINISTRADOR</NavLink></li>
                  </ul>
                </div>
            </div>
            <NavLink href=""img id="carrito" src="CarroBlanco.png"></NavLink>
        </header>

@code {

}
