.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}


.habilidades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}



h1 {
    margin-top: 30px;
    text-align: center;
    font-size: xxx-large;
    font-weight: bold;
    background: #202020;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 30px;
    background: #202020;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}


.imagenPrincipal{
    width:90%;
    margin:0 40px 30px 40px;
    box-shadow:0 0 15px 3px black;
}
.imagenRolDificultad {
    margin-top:50px;
    text-align: center;
    margin-bottom: 140px;
}
.whiteText {
    color: white !important;
    font-weight:100;
}
.roll, .dificultad {
    display: inline-block;
    margin: 20px 50px 10px 50px;
    color: aqua;
    background-color: black;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 0 10px 2px black;
    border:2px dashed aqua;
    font-weight:bold;
}

.descripcion {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}


.iconosHabilidades {
    display: grid;
    grid-template-columns: auto;
    height:10px;

}

.botonImagenHabilidad {
    height: 70px;
    width: 70PX;
    margin-top: 10px;
    padding: 0;
    margin-left: 50%;
    box-shadow: 0 0 10px 2px black;
    border: 2px solid black;
    transition: 0.3s ease-in-out;
}
    .botonImagenHabilidad:hover {
        border: 2px dashed aqua;
        cursor: pointer;
        box-shadow: 0 0 15px 5px black;
        cursor: url("../Recursos/cursor/Cursor2.cur"), auto !important;
        transition: 0.3s ease-in-out;
    }
.imagenHabilidad {
    height: 70px;
    width: 70PX;
    object-fit: cover;
}
.infoHabilidades {
    margin-top: 80px;
    grid-column: span 2;
    margin-bottom:160px;
}

.nombreHabilidad {
    font-family: Arial Black;
    font-weight: bold;
    font-size: 25px;
    background: #202020;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}
.tipoHabilidad {
    font-weight: bold;
    font-size: large;
}

.video {
    margin-top: 10px;
    width: 90%;
    display: block;
    margin: 0 auto 0 auto;
    box-shadow: 0 0 15px 5px black;
}





.skinGridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-top:50px !important;
    margin:auto;
    width:80%;
}

.botonesIconosSkins {
    height: 70px;
    width: 70PX;
    margin-top:20px;
    padding:0;
}
.iconosSkins {
    height: 70px;
    width: 70PX;
    object-fit: cover;
    box-shadow: 0 0 10px 2px black;
    border: 2px solid black;
    transition: 0.4s ease-in-out;
}
    .iconosSkins:hover {
        border: 2px dashed aqua;
        cursor: pointer;
        box-shadow: 0 0 25px 8px black;
        cursor: url("../Recursos/cursor/Cursor2.cur"), auto !important;
        transition: 0.4s ease-in-out;
    }

.imagenSkin {
    width: 70%;
    box-shadow: 0 0 15px 5px black;
    display: block;
    margin: 0 auto 100px auto;
}

button{
    all: unset;
}