body {
    /*background-image:linear-gradient(to right bottom,#404040,#dbe99d,#404040, #dbe99d);
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
    background-color: rgb(255, 255, 255);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    width: 90%;
    margin: auto;
    margin-top:80px;/* para meter los filtros y buscador */
    margin-bottom:50px;
}

.item {
    background-color: rgb(48, 48, 48);
    padding:0;
    width: 203px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    border-radius: 43px 0 40px 0;
    border: solid 2px gold;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 8px 1px rgb(3, 3, 3);
}

.img {
    border-radius: 40px 0 0 0;
    width: 200px;
    border: solid 2px gold;
    height: 225.19px;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

p {
    color: white;
    font-weight: bold;
    font-size: large;
}


.item:hover {
    border-radius: 0 43px 0 40px;
    box-shadow: 0 0 20px 2px rgb(3, 3, 3);
    width: 223px;
    transition: 0.5s ease-in-out;
}

    .item:hover img {
        border-radius: 0 41px 0 0;
        width: 220px;
        height:260px;
        transition: 0.5s ease-in-out;
    }


.orden {
    position: absolute;
    top: 130px;
    right: 50px;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

    .orden:hover {
        background-color: #6C6C6C80;
        transition: 0.3s ease-in-out;
    }

#asciende, #desciende{
    all:unset;
}

.botonPaginado {
    display: inline-block;
}

button.botonPaginado {
    border-radius: 15px;
    border: 2px solid white;
    color: white;
    background-color: black;
    box-shadow: 0 0 10px 1px black;
    width:81px;
    transition: 0.5s ease-in-out;
}
    button.botonPaginado:hover {
        width:90px;
        box-shadow: 0 0 20px 2px black;
        transition: 0.5s ease-in-out;
    }
p.botonPaginado {
    color: black;
    margin: 10px;
    
}

.paginado{
    text-align:center;
    margin-top:80px;
    margin-bottom:80px;

}
