body {
    /*background-image:linear-gradient(to right bottom,#404040,#dbe99d,#404040, #dbe99d);
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
    background-color: rgb(255, 255, 255);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    width: 95%;
    margin: auto;
    margin-top:30px;/* para meter los filtros y buscador */
    margin-bottom:50px;
}

.item {
    background-color: rgb(48, 48, 48);
    padding:0;
    width: 203px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    border-radius: 43px 0 40px 0;
    border: solid 2px gold;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 8px 1px rgb(3, 3, 3);
}

.img {
    border-radius: 40px 0 0 0;
    width: 200px;
    border: solid 2px gold;
    height: 225.19px;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

p {
    color: white;
    font-weight: bold;
    font-size: large;
}


.item:hover {
    border-radius: 0 43px 0 40px;
    box-shadow: 0 0 20px 2px rgb(3, 3, 3);
    width: 223px;
    transition: 0.5s ease-in-out;
}

    .item:hover img {
        border-radius: 0 41px 0 0;
        width: 220px;
        height:260px;
        transition: 0.5s ease-in-out;
    }


.orden {
    position: absolute;
    top: 138px;
    left: 9%;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    cursor: url("../Recursos/cursor/Cursor2.cur"), auto !important;
    transition: 0.3s ease-in-out;
}

    .orden:hover {
        background-color: #6C6C6C80;
        transition: 0.3s ease-in-out;
    }

#asciende, #desciende{
    all:unset;
}

.botonPaginado {
    display: inline-block;
}

button.botonPaginado {
    border-radius: 30px;
    border: 2px solid black;
    color: white;
    margin: 3px 3px 0 0;
    padding: 10px;
    background-image: linear-gradient(to right,rgb(110, 110, 110),white,rgb(110, 110, 110));
    box-shadow: 3.5px 3.5px 0 0 black;
    transition: 0.1s ease-in-out;
}
    button.botonPaginado:hover {
        margin:0;
        box-shadow: 1px 1px 0 0 black;
        transition: 0.1s ease-in-out;
    }
p.botonPaginado {
    color: black;
    margin: 10px;
    
}
.flechitas {
    width: 25px
}

.paginado {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

#buscador{
    margin-top:50px;
    margin-left:13%;
}

@media (max-width:800px){
    #buscador {
        margin-left: 18%;
    }
}

#bajarPagina {
    position: absolute;
    top: 138px;
    right: 50px;
    padding: 5px 10px 5px 10px;
    background-image: linear-gradient(to right,gold,white,gold);
    font-weight: bold;
    color: darkgoldenrod;
    border: 2px solid darkgoldenrod;
    border-radius: 25px;
    box-shadow: 3px 3px 0 0px darkgoldenrod;
    transition: 0.2s ease-in-out;
}
    #bajarPagina:hover {
        top: 140px;
        right: 48px;
        box-shadow: 1px 1px 0 0px darkgoldenrod;
        transition: 0.2s ease-in-out;
    }

